.landingWrapper {
  width: 100%;
  max-height: 1300px;
  display: flex;
  justify-content: center;
  padding: 8vh 0;
}

.landingContainer {
  /* margin-top: clamp(10px, 4vh, 700px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingText {
  width: 30vw;
  min-width: 250px;
  max-width: 500px;
}

.landingText h1 {
  font-size: clamp(30px, 5vw, 80px);
  margin-bottom: 30px;
  font-weight: bold;
}

.landingText p {
  opacity: .7;
  font-size: clamp(18px, 1.5vw, 1.5rem);
  line-height: clamp(25px, 2vw, 1.7rem);
  margin-bottom: 20px;
}

.landingContainer img {
  margin-left: 10vw;
  width: 35vw;
  max-width: 550px;
  min-width: 250px;
}

@media screen and (max-width: 900px) {
  .landingContainer {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: start;
  }

  .landingText {
    text-align: center;
    width: 70vw;
  }

  .landingText h1 {
    font-size: clamp(40px, 8vw, 150px);
  }

  .landingContainer img {
    margin-top: 15vw;
    margin-left: 0;
    width: 50vw;
  }

}