#loanUiTitle {
  margin-bottom: 40px;
}

.loanSectionTitle {
  display: flex;
  width: 74%;
  /* justify-content: space-between; */
  padding-left: 12px;
  margin-bottom: 15px;
}

.loanContentContainer {
  padding-left: 15px;
  display: flex;
  width: 92%;
  height: 100%;
  justify-content: space-between; 
  align-items: center;
}

.loanContentContainer p {
  opacity: 1;
}

.loanContainer {
  height: 40px;
  width: 100%;
  background-color: rgba(256, 256, 256, .1);
  border-radius: 7px;
}

#collateralViewBtn {
  color: #1c92ff;
  cursor: pointer;
}