#loanUiTitle {
  margin-bottom: 40px;
}

.loanSectionTitle {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}

.loanContentContainer {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.loanSectionTitle p {
  text-align: center;
}

.loanContentContainer p {
  text-align: center;
  opacity: 1;
}

.loanContainer {
  height: 40px;
  width: 100%;
  background-color: rgba(256, 256, 256, .1);
  border-radius: 7px;
  transition: .2s;
  cursor: pointer;
}

.loanContainer:hover {
  background-color: rgba(256, 256, 256, .05);
}

.collateralViewBtn {
  color: #1c92ff;
  cursor: pointer;
}

#c-1 {
  width: 10%;
}

#c-2 {
  width: 15%;
}

#c-3 {
  width: 15%;
}

#c-4 {
  width: 15%;
}

#c-5 {
  width: 10%;
}

#c-6 {
  width: 15%;
}

#c-7 {
  width: 20%;
}