.modal {
  overflow-y: initial;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, .5); */
  backdrop-filter: blur(4px);
  transition: .2s;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.tokenModalContainer {
  max-height: 700px;
  height: 80%;
  max-width: 780px;
  background-color: #18191F;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-flow: column;
}

/* 
3@ 1350px
2@ 1100px
1@ 800px
*/

@media only screen and (max-width: 800px) {
  .tokenModalContainer {
    width: 260px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .tokenModalContainer {
    width: 520px;
  }
}

.modalHeader {
  margin-bottom: 35px;
}

#closeIcon {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  opacity: .6;
  transition: .2s;
}

#closeIcon:hover {
  opacity: 1;
}

.modalContent {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.tokenContainer {
  position: relative;
  cursor: pointer;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  background-color: #343434;
  border-radius: 10px;
}

#tokenImage {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#selectedIcon {
  position: absolute;
  width: 30px;
  top: 5px;
  right: 5px;
}

.tokenContainer p {
  max-width: 65%;
  opacity: .9;
}

.tokenInfo {
  padding: 0 12px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

#floorPrice {
  font-size: 15px;
  opacity: 1;
  font-weight: 600;
}