.tokenModalContainer {
  max-height: 90%;
  max-width: 820px;
  min-height: 60%;
  min-width: 300px;
  background-color: #18191F;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-flow: column;
}

/* 
3@ 1350px
2@ 1100px
1@ 800px
*/

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .tokenModalContainer {
    width: 560px;
  }
}

.modalHeader {
  margin-bottom: 35px;
}

.modalContent {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.tokenContainer {
  position: relative;
  cursor: pointer;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  background-color: #343434;
  border-radius: 10px;
}

#tokenImage {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#selectedIcon {
  position: absolute;
  width: 30px;
  top: 5px;
  right: 5px;
}

.tokenContainer p {
  max-width: 65%;
  opacity: .9;
}

.tokenInfo {
  padding: 0 12px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.tokenInfo a {
  text-decoration: none;
  color: white;
  opacity: .8;
  transition: .2s;
  cursor: pointer;
}

.tokenInfo a:hover {
  opacity: 1;
}

#floorPrice {
  font-size: 15px;
  opacity: 1;
  font-weight: 600;
}