.dashboardWrapper {
  min-height: 450px;
}

.dashboardWrapper h3 {
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
}

.dashboardWrapper h4 {
  font-size: 17px !important;
  font-weight: 400 !important;
  opacity: .8;
}

#dbTitle {
  margin-bottom: 5px;
}

.statusContainer {
  display: flex;
  align-items: center;
}

#statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

.dbTitleContainer {
  margin-bottom: 25px;
  width: 100%;
}

.dbDetailsContainer {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
}

.dbDetailSection {
  width: 150px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.dbDetailSection a {
  text-decoration: none;
  color: #7fc8f5;
  transition: .2s;
}

.dbDetailSection a:hover {
  color: #b3e2ff;
}

.dbContentWrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.dbManageSection {
  padding-top: 25px;
  width: 45%;
  height: 100%;
}

.dbManageSection h3 {
  font-size: 17px !important;
  margin-bottom: 12px !important;
}

.dbManageSection p {
  width: 80%;
  margin-bottom: 12px !important;
}