.createContainer {
  max-width: 850px;
  width: 80%;
  background-color: rgba(0, 0, 0, .8);
  padding: 30px 40px 35px 40px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
}

.createTopContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.createContentContainer {
  display: flex;
  justify-content: space-between;
}

.createSectionContainer {
  width: 48%;
}

.roleSelection {
  display: flex;
  justify-content: space-between;
}

.roleButton {
  box-sizing: border-box;
  width: calc(50% - 5px);
  border: 3px solid #9900F0;
  background-color: none;
}

.roleButton:hover {
  border: 3px solid #9900F0;
}

.roleButton#roleSelected {
  border: none;
  background-color: #9900F0; 
}

.amountContainer {
  margin: 30px 0;
}

.input {
  height: 40px;
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.addressContainer {
  margin-bottom: 25px;
}

.collateralTopSection {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 30px;
}

.collateralTitle {
  display: flex;
  align-items: center;
}

.collateralTitle h4 {
  margin-left: 5px;
}

.addButton {
  background-color: #2b2b2b;
  height: 25px;
  width: 70px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s
}

.addButton:hover {
  background-color: #262626;
}

.collateralContainer {
  opacity: .6;
  transition: .1s;
  margin-bottom: 30px;
}

#hidden .addButton:hover {
  background-color: #2b2b2b;
}

#shown {
  opacity: 1;
}

.collateralDisplay {
  width: 100%;
  height: 250px;
  display: flex;
}

.collatContainer {
  background-color: #343434;
  border-radius: 10px;
  width: 190px;
  height: 100%;
}

.collatContainer p {
  font-size: 12px;
  max-width: 65%;
  opacity: .9;
}

#collatImage {
  width: 190px;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.collatInfo {
  padding: 0 10px;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}