.createWrapper h2 {
  font-weight: 400 !important;
  font-size: 22px !important;
  margin-left: 5px !important;
}

.createWrapper h4 {
  font-size: 12px !important;
  font-weight: 500 !important;
  opacity: .7 !important;
}

.createContentContainer {
  display: flex;
  justify-content: space-between;
}

.createSectionContainer {
  width: 48%;
}

.roleSelection {
  display: flex;
  justify-content: space-between;
}

.roleButton {
  box-sizing: border-box;
  width: calc(50% - 5px);
  border: 2.5px solid #330d94;
  background-color: none;
}

.roleButton:hover {
  border: 2.5px solid #2b0980;
}

.roleButton#roleSelected {
  border: none;
  background-color: #330d94; 
}

.amountContainer {
  margin: 30px 0;
}

.addressContainer {
  margin-bottom: 25px;
}

.addressContainer img {
  width: 20px;
}

.collateralTopSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.collateralTitle {
  display: flex;
  align-items: center;
}

.collateralTitle h4 {
  margin-left: 5px;
}

.addButton {
  background-color: #2b2b2b;
  height: 25px;
  width: 70px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s
}

.addButton:hover {
  background-color: #262626;
}

.collateralContainer {
  opacity: .6;
  transition: .1s;
  margin-bottom: 30px;
}

#hidden .addButton:hover {
  background-color: #2b2b2b;
}

#shown {
  opacity: 1;
}

.collateralDisplay {
  width: 100%;
  height: 250px;
  display: flex;
}

.collatContainer {
  background-color: #343434;
  border-radius: 10px;
  width: 190px;
  height: 100%;
}

.collatContainer p {
  font-size: 12px;
  max-width: 65%;
  opacity: .9;
}

#collatImage {
  width: 190px;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.collatInfo {
  padding: 0 10px;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}