.App {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  margin-left: 5px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
}

h4 {
  font-size: 12px;
  font-weight: 500;
  opacity: .7;
}

p {
  font-size: 12px;
  opacity: .5;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 100ms;
}

.submitButton {
  color: white;
  background-color: #F900BF;
  width: 210px !important;
  transition: .2s;
}

.submitButton:hover {
  background-color: #d104a1;
}
