.App {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  opacity: .8;
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 100ms;
}

.button#disabled {
  color: rgba(256, 256, 256, .6);
  background-color: #3d3d3d;
  cursor: default;
}

.submitButton {
  color: white;
  background-color: #330d94;
  width: 210px;
  transition: .2s;
}

.submitButton:hover {
  background-color: #2b0980;
}

.interfaceContainer {
  max-width: 850px;
  width: 80%;
  background-color: #110421;
  padding: 30px 40px 35px 40px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
}

#closeIcon {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  opacity: .6;
  transition: .2s;
}

#closeIcon:hover {
  opacity: 1;
}

.modal {
  overflow-y: initial;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, .5); */
  backdrop-filter: blur(4px);
  transition: .2s;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.input {
  height: 40px;
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
}

.topContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}