.App {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 400 !important;
  font-size: 30px !important;
}

p {
  font-size: 12px !important;
  opacity: .8 !important;
  margin: 0 !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 100ms;
}

.submitButton {
  color: white;
  background-color: #330d94;
  width: 210px !important;
  transition: .2s;
}

.submitButton:hover {
  background-color: #2b0980;
}

.interfaceContainer {
  max-width: 850px;
  width: 80%;
  background-color: #110421;
  padding: 30px 40px 35px 40px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
}

#closeIcon {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  opacity: .6;
  transition: .2s;
}

#closeIcon:hover {
  opacity: 1;
}

.modal {
  overflow-y: initial;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, .5); */
  backdrop-filter: blur(4px);
  transition: .2s;
  align-items: center;
  justify-content: center;
  z-index: 10;
}